<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('./includes/css-files.ejs') %>
  </head>
  <body>
    <main class="container-lg mt-4">
      <div class="row">
        <!-- Dashboard Nav Section -->
        <%- include('./includes/dashboard-nav.ejs', {activeNav : 'experience'})
        %>

        <!-- Experience section -->
        <section class="col-lg-8 col-md-8 col-12">
          <div class="card p-3">
            <header
              class="card-header bg-transparent d-flex justify-content-between align-items-center"
            >
              <h3 class="fw-bold text-primary">Experience</h3>

              <a
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#add-experience"
              >
                <i class="fa fa-plus fw-bold fs-5 text-primary"></i>
              </a>
            </header>

            <div class="card-body">
              <div class="row">
                <% if (experiences) { %>

                <!-- loop -->
                <% experiences.forEach(experience => { %>

                <div class="col-12 mb-5">
                  <div class="shadow-sm p-3">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <h4><%= experience.title %></h4>
                      <div>
                        <a
                          class="mx-2 js-edit-item-btn"
                          data-experience-id="<%= experience._id %>"
                          data-experience-title="<%= experience.title %>"
                          data-experience-country="<%= experience.country %>"
                          data-experience-work_time="<%= experience.work_time %>"
                          data-experience-description="<%= experience.description %>"
                          role="button"
                          data-bs-toggle="modal"
                          data-bs-target="#edit-experience"
                        >
                          <i class="fa fa-pencil-alt text-secondary"></i>
                        </a>

                        <a
                          role="button"
                          data-experience-id="<%= experience._id %>"
                          data-bs-toggle="modal"
                          data-bs-target="#delete"
                          class="js-delete-item-btn"
                        >
                          <i class="fa fa-trash text-danger"></i>
                        </a>
                      </div>
                    </div>

                    <div class="text-black-50 fs-6 d-flex flex-column">
                      <span><%= experience.country %></span>
                      <span><%= experience.work_time %></span>
                      <p><%= experience.description %></p>
                    </div>
                  </div>
                </div>

                <% }) } %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- modals -->
    <div class="container">
      <!-- add experience Modal  -->
      <div
        class="modal fade"
        id="add-experience"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-3">
            <div class="modal-header">
              <h4
                class="modal-title fw-bold text-center"
                id="exampleModalLabel"
              >
                Add experience
              </h4>

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body">
              <form action="/experience/add" method="post" class="row g-3">
                <div>
                  <label class="ms-3" for="input-title-label-id">Title</label>
                  <input
                    id="input-title-label-id"
                    type="text"
                    class="form-control rounded-pill"
                    name="title"
                    placeholder="experience"
                    required
                  />
                </div>
                <div>
                  <label class="ms-3" for="input-country-label-id"
                    >Country</label
                  >
                  <input
                    id="input-country-label-id"
                    type="text"
                    class="form-control rounded-pill"
                    name="country"
                    placeholder="country"
                    required
                  />
                </div>

                <div>
                  <label class="ms-3" for="input-work-time-label-id"
                    >Work time</label
                  >
                  <input
                    id="input-work-time-label-id"
                    type="text"
                    class="form-control rounded-pill"
                    name="work_time"
                    placeholder="work_time"
                    required
                  />
                </div>

                <div>
                  <textarea
                    class="form-control"
                    name="description"
                    rows="3"
                    placeholder="description"
                  ></textarea>
                </div>

                <button type="submit" class="btn bg-primary text-white">
                  add
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- edit experience Modal  -->
      <div
        class="modal fade"
        id="edit-experience"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-3">
            <div class="modal-header">
              <h4
                class="modal-title fw-bold text-center"
                id="exampleModalLabel"
              >
                Edit experience
              </h4>

              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body">
              <form action="/experience/update" method="post" class="row g-3">
                <input
                  type="hidden"
                  class="js-edit-modal-id"
                  name="experience_id"
                />
                <div>
                  <label class="ms-3" for="input-edit-title-label-id"
                    >Title</label
                  >
                  <input
                    id="input-edit-title-label-id"
                    type="text"
                    class="form-control rounded-pill js-edit-modal-title"
                    name="title"
                    placeholder="experience"
                    required
                  />
                </div>
                <div>
                  <label class="ms-3" for="input-edit-country-label-id"
                    >Country</label
                  >
                  <input
                    id="input-edit-country-label-id"
                    type="text"
                    class="form-control rounded-pill js-edit-modal-country"
                    name="country"
                    placeholder="country"
                    required
                  />
                </div>

                <div>
                  <label class="ms-3" for="input-edit-work-time-label-id"
                    >Work time</label
                  >
                  <input
                    id="input-edit-work-time-label-id"
                    type="text"
                    class="form-control rounded-pill js-edit-modal-work_time"
                    name="work_time"
                    placeholder="work_time"
                    required
                  />
                </div>

                <div>
                  <textarea
                    class="form-control js-edit-modal-description"
                    name="description"
                    rows="3"
                    placeholder="description"
                  ></textarea>
                </div>

                <button type="submit" class="btn bg-primary text-white">
                  Edit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete experience modal -->
      <div
        class="modal fade"
        id="delete"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div
              class="modal-body fw-bold d-flex justify-content-lg-center align-items-center flex-column"
            >
              <i class="bi bi-exclamation-circle fs-1 text-danger"></i>
              <h3 class="fs-4">Do you want to delete?</h3>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
              >
                No
              </button>

              <form action="/experience/delete" method="post">
                <input
                  type="hidden"
                  name="experience_id"
                  id="delete-modal-id"
                />

                <button
                  type="submit"
                  data-bs-dismiss="modal"
                  class="btn btn-danger"
                >
                  Yes
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./includes/js-files.ejs') %>
    <script>
      // edit
      const attr = ($el, attrName) => $el.getAttribute(attrName);
      const el = ($el) => document.querySelector($el);

      document.querySelectorAll('.js-edit-item-btn').forEach((btn) => {
        btn.addEventListener('click', () => {
          const id = attr(btn, 'data-experience-id');
          const title = attr(btn, 'data-experience-title');
          const country = attr(btn, 'data-experience-country');
          const work_time = attr(btn, 'data-experience-work_time');
          const description = attr(btn, 'data-experience-description');

          el('.js-edit-modal-id').value = id;
          el('.js-edit-modal-title').value = title;
          el('.js-edit-modal-country').value = country;
          el('.js-edit-modal-work_time').value = work_time;
          el('.js-edit-modal-description').value = description;
        });
      });

      // delete
      document.querySelectorAll('.js-delete-item-btn').forEach((btn) => {
        btn.addEventListener('click', () => {
          const id = attr(btn, 'data-experience-id');
          console.log(id);
          document.getElementById('delete-modal-id').value = id;
        });
      });
    </script>
  </body>
</html>
