<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include('./includes/css-files.ejs') %>
  </head>
  <body>
    <main class="container-lg mt-4">
      <div class="row">
        <!-- Dashboard Nav Section -->
        <%- include('./includes/dashboard-nav.ejs', {activeNav : 'skills'}) %>

        <section class="col-lg-8 col-md-8 col-12">
          <div class="card shadow p-3">
            <div
              class="card-header bg-transparent d-flex justify-content-between align-items-center"
            >
              <h3 class="fw-bold text-primary">Skills</h3>

              <a
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#add-skill"
              >
                <i class="fa fa-plus fw-bold fs-5 text-primary"></i>
              </a>
            </div>

            <!-- skills list -->
            <div class="card-body p-0">
              <div class="row">
                <!--  skill 1 -->

                <% if (skills != (null || undefined)) { %>

                <!-- for loop -->
                <% skills.forEach((skill) => { %>
                <div class="col-12 mb-2">
                  <div class="shadow-sm p-3">
                    <div class="d-flex justify-content-between mb-2">
                      <h5><%= skill.title %></h5>

                      <div>
                        <a
                          class="mx-2 js-edit-btn"
                          data-skill-id="<%= skill._id %>"
                          data-skill-title="<%= skill.title %>"
                          data-skill-progress_percent="<%= skill.progress_percent %>"
                          role="button"
                          data-bs-toggle="modal"
                          data-bs-target="#edit-skill"
                        >
                          <i class="fa fa-pencil-alt text-secondary"></i>
                        </a>

                        <a
                          role="button"
                          data-skill-id="<%= skill._id %>"
                          data-bs-toggle="modal"
                          data-bs-target="#delete"
                          class="js-delete-skill-btn"
                        >
                          <i class="fa fa-trash text-danger"></i>
                        </a>
                      </div>
                    </div>

                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        style="width: <%= skill.progress_percent %>%"
                        aria-valuenow="<%= skill.progress_percent %>"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <%= skill.progress_percent %>
                      </div>
                    </div>
                  </div>
                </div>

                <% }) } %>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- add skill Modal  -->
    <div
      class="modal fade"
      id="add-skill"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
          <div class="modal-header">
            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">
              Add Skill
            </h4>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <form action="/skills/add" method="post" class="row g-3">
              <input
                type="text"
                class="form-control rounded-pill"
                name="title"
                placeholder="Skill"
                required
              />
              <input
                type="range"
                name="progress_percent"
                class="form-range js-add-range-input"
                id="customRange1"
                required
              />
              <button type="submit" class="btn bg-primary text-white">
                add
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- edit skill Modal  -->
    <div
      class="modal fade"
      id="edit-skill"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
          <div class="modal-header">
            <h4 class="modal-title fw-bold text-center" id="exampleModalLabel">
              Edit Skill
            </h4>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <form action="/skills/update" method="post" class="row g-3">
              <input type="hidden" name="skill_id" id="edit-modal-id" />
              <input
                type="text"
                class="form-control rounded-pill"
                placeholder="Skill"
                name="title"
                id="skill-title-input"
              />

              <input
                type="range"
                class="form-range"
                name="progress_percent"
                id="skill-progress-input"
              />

              <button type="submit" class="btn bg-primary text-white">
                Edit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete skill modal -->
    <div
      class="modal fade"
      id="delete"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div
            class="modal-body fw-bold d-flex justify-content-lg-center align-items-center flex-column"
          >
            <i class="bi bi-exclamation-circle fs-1 text-danger"></i>
            <h3 class="fs-4">Do you want to delete?</h3>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              No
            </button>

            <form action="/skills/delete" method="post">
              <input type="hidden" name="skill_id" id="delete-modal-id" />

              <button
                type="submit"
                data-bs-dismiss="modal"
                class="btn btn-danger"
              >
                Yes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./includes/js-files.ejs') %>

    <script>
      // edit
      const attr = ($el, attrName) => $el.getAttribute(attrName);
      document.querySelectorAll('.js-edit-btn').forEach((btn) => {
        btn.addEventListener('click', () => {
          const id = attr(btn, 'data-skill-id');
          const title = attr(btn, 'data-skill-title');
          const progress = attr(btn, 'data-skill-progress_percent');

          console.log(id, title, progress);

          document.getElementById('edit-modal-id').value = id;
          document.getElementById('skill-title-input').value = title;
          document.getElementById('skill-progress-input').value = progress;
        });
      });

      // delete
      document.querySelectorAll('.js-delete-skill-btn').forEach((btn) => {
        btn.addEventListener('click', () => {
          const id = attr(btn, 'data-skill-id');
          console.log(id)
          document.getElementById('delete-modal-id').value = id;
        });
      });
    </script>
  </body>
</html>
